# Guided Capstone Step 4 - Pre-processing and Training Data Development

### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   **Pre-processing and Training Data Development**

5.  Modeling
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

In this step of the guided capstone, you'll revisit some of the steps you completed to solve questions in step 4. Revisiting these steps will help you get additional practice completing this kind of work.

**<font color='teal'> Start by loading the necessary packages, as you've done in the previous steps. Print out your current working directory to confirm that you are in the correct project directory. </font>**

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

**<font color='teal'>  Load the csv file you created in step 3. Remember, it should be saved inside your data subfolder. Print the first five rows.</font>**

In [2]:
path1 = 'C:/Users/muli2487/OneDrive - University of Idaho/U-Drive/Spring Board/Guided Capstone/1582673773_GuidedCapstone_Step2.ipynb/data/'

In [3]:
df1 = pd.read_csv(r'C:/Users/muli2487/OneDrive - University of Idaho/U-Drive/Spring Board/Guided Capstone/1582673773_GuidedCapstone_Step2.ipynb/data/step3_output.csv', index_col = None)
df1.head()

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,Clusters
0,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,30.0,30.000000,150.000000,36.0,69.0,30.000000,34.00000,152.0,30.0,9
1,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,0.0,0,1,...,800.0,80.000000,115.000000,49.0,250.0,74.000000,78.00000,104.0,80.0,0
2,Yosemite Ski & Snowboard Area,Northern California,California,7800,600,7200,0,0.0,0,0,...,88.0,174.873239,110.000000,84.0,300.0,47.000000,47.00000,107.0,0.0,2
3,Donner Ski Ranch,Sierra Nevada,California,8012,750,7031,0,0.0,0,0,...,505.0,60.000000,163.000000,82.0,400.0,75.000000,75.00000,170.0,0.0,2
4,June Mountain,Sierra Nevada,California,10090,2590,7545,0,0.0,0,2,...,1500.0,174.873239,115.103943,58.0,250.0,57.916957,64.16681,128.0,0.0,4

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `State`. Add the dummies back to the dataframe and remove the original column for `State`. </font>**

In [25]:
df2 = pd.get_dummies(df1, columns=['state'])

In [26]:
df2.head()

,Name,Region,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,Hilltop Ski Area,Alaska,2090,294,1796,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Sunrise Park Resort,Arizona,11100,1800,9200,0,0.0,0,1,2,...,0,0,0,0,0,0,0,0,0,0
2,Yosemite Ski & Snowboard Area,Northern California,7800,600,7200,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Donner Ski Ranch,Sierra Nevada,8012,750,7031,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,June Mountain,Sierra Nevada,10090,2590,7545,0,0.0,0,2,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df2.columns

Index(['Name', 'Region', 'summit_elev', 'vertical_drop', 'base_elev', 'trams',
       'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple', 'double',
       'total_chairs', 'Runs', 'LongestRun_mi', 'SkiableTerrain_ac',
       'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen', 'averageSnowfall',
       'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac',
       'Clusters', 'state_Alaska', 'state_Arizona', 'state_California',
       'state_Colorado', 'state_Connecticut', 'state_Idaho', 'state_Illinois',
       'state_Indiana', 'state_Iowa', 'state_Maine', 'state_Maryland',
       'state_Massachusetts', 'state_Michigan', 'state_Minnesota',
       'state_Missouri', 'state_Montana', 'state_Nevada',
       'state_New Hampshire', 'state_New Jersey', 'state_New Mexico',
       'state_New York', 'state_North Carolina', 'state_Ohio', 'state_Oregon',
       'state_Pennsylvania', 'state_Rhode Island', 'state_South Dakota',
       'state_Tennessee', 'state_Utah', 'state_Vermont', 'state_Virginia',
       'state_Washington', 'state_West Virginia', 'state_Wisconsin',
       'state_Wyoming'],
      dtype='object')

In [28]:
X = df2.drop(['Name','Region','AdultWeekend'], axis =1)

In [29]:
y = df2.loc[:,'AdultWeekend']
y

0      34.00000
1      78.00000
2      47.00000
3      75.00000
4      64.16681
         ...
162    48.00000
163    42.00000
164    59.00000
165    49.00000
166    49.00000
Name: AdultWeekend, Length: 167, dtype: float64

In [30]:
X

,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
0,2090,294,1796,0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,11100,1800,9200,0,0.0,0,1,2,3,1,...,0,0,0,0,0,0,0,0,0,0
2,7800,600,7200,0,0.0,0,0,0,1,3,...,0,0,0,0,0,0,0,0,0,0
3,8012,750,7031,0,0.0,0,0,0,1,5,...,0,0,0,0,0,0,0,0,0,0
4,10090,2590,7545,0,0.0,0,2,0,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,8000,640,7400,0,0.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
163,7428,810,6619,0,0.0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
164,7808,1571,6237,0,0.0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
165,9663,990,8798,0,0.0,0,0,0,1,3,...,0,0,0,0,0,0,0,0,0,1
166,9500,1100,8400,0,0.0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
df2.columns

Index(['Name', 'Region', 'summit_elev', 'vertical_drop', 'base_elev', 'trams',
       'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple', 'double',
       'total_chairs', 'Runs', 'LongestRun_mi', 'SkiableTerrain_ac',
       'Snow Making_ac', 'daysOpenLastYear', 'yearsOpen', 'averageSnowfall',
       'AdultWeekday', 'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac',
       'Clusters', 'state_Alaska', 'state_Arizona', 'state_California',
       'state_Colorado', 'state_Connecticut', 'state_Idaho', 'state_Illinois',
       'state_Indiana', 'state_Iowa', 'state_Maine', 'state_Maryland',
       'state_Massachusetts', 'state_Michigan', 'state_Minnesota',
       'state_Missouri', 'state_Montana', 'state_Nevada',
       'state_New Hampshire', 'state_New Jersey', 'state_New Mexico',
       'state_New York', 'state_North Carolina', 'state_Ohio', 'state_Oregon',
       'state_Pennsylvania', 'state_Rhode Island', 'state_South Dakota',
       'state_Tennessee', 'state_Utah', 'state_Vermont', 'state_Virginia',
       'state_Washington', 'state_West Virginia', 'state_Wisconsin',
       'state_Wyoming'],
      dtype='object')

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing, standardize the scale of the features of the dataframe except the name of the resort, which you don't need in the dataframe for modeling so it can be droppped here as well. You should  hold out your response variable(s) so that you can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as your response for scaling and modeling. Later, you will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave, them in the development dataframe. </font>**

In [32]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X)

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selectionm import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. You will start by using the adult weekend ticket price as your response variable for modeling.</font>**

In [33]:
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.25)

Here, you'll start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5 - Modeling

You've cleaned and prepared the datasets, so now it's time to get into the most exciting part of this process: modeling! In this exercise, you will build three different models and compare each model's performance. In the end, you will choose the best model for proving insights to Big Mountain management.  

1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes — Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with Training Data Set

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [34]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

In [35]:
# make class predictions for the testing set
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [36]:
explained_variance_score(y_test, y_test_pred)

0.7701152299965017

In [37]:
mean_absolute_error(y_test, y_test_pred)

6.288943002548641

In [38]:
lm.intercept_

27.68902421203207

In [39]:
from sklearn.metrics import mean_squared_error
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train_pred),mean_squared_error(y_test, y_test_pred)))

MSE train: 25.713, test: 60.055

In [40]:
from sklearn.metrics import r2_score
print('R^2 train: %.3f, test: %.3f' %(r2_score(y_train, y_train_pred),r2_score(y_test, y_test_pred)))

R^2 train: 0.883, test: 0.769

In [41]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
# pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
K1Results = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])

In [43]:
K1Results.loc[:, 'Coefficient'].sort_values(ascending=False).head(10)

state_Tennessee         20.837735
state_Virginia          17.843029
state_New Jersey        16.246103
state_North Carolina    16.093325
state_Arizona           13.133393
state_South Dakota      12.831833
state_Vermont           12.761381
state_West Virginia     10.250405
state_Massachusetts     10.146578
state_Montana            9.324938
Name: Coefficient, dtype: float64

## Review Model Outcomes — Iterate over additional models as needed.

**<font color='teal'> Print the intercept value from the linear model. </font>**

In [17]:
#To retrieve the intercept:
print(model.intercept_)
#For retrieving the slope:
k = print(model.coef_)

20.098248596134624
[-2.46743636e-03  3.11824083e-03  3.43416818e-03  3.02566305e-12
 -2.55129251e-13 -1.19682042e-13  2.25196008e+00  2.61239203e+00
  2.30757785e+00  1.68280758e+00 -6.24975573e-01  1.82564131e-01
 -1.35848212e-01 -3.21195527e-03 -9.04014141e-03  1.55392409e-02
 -5.50987190e-03  8.71720165e-03  5.44370453e-01 -5.88047069e-02
  4.28329817e-02  1.82447353e-01 -3.19979326e+00 -1.11022302e-14
 -1.03685784e+00 -3.04726998e+00  7.00497666e+00 -1.12873549e+01
 -2.02473307e+00  8.88178420e-15 -2.06091474e+00  3.35762395e+00
 -3.10862447e-15  1.39737459e+01 -2.86904779e+00 -1.99703520e+00
 -1.36681311e+00 -1.02755080e+01  3.76516557e+00  1.24003770e+01
  1.77635684e-15 -1.21721651e+01 -8.77339221e-01  1.53036198e+01
 -6.99612978e+00  8.88178420e-16  4.25104918e+00  1.20943567e+01
 -1.64966730e+01  0.00000000e+00 -9.70994205e+00  1.00300678e+01
  1.18602394e+01 -2.34459909e+00  5.01866584e+00  1.03144661e+00
 -1.23291582e+01]

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the `AdultWeekend` resulting value. Also, because you took the time to scale your x values in the training data, you can compare each of the coefficients for the features to determine the feature's importance. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 

Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what you are looking for is the magnitude of impact on your response variable.

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that you care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

#### Model 2

In [44]:
X2 = df1.drop(['Name','Region','AdultWeekend','state'], axis =1)
X2

,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,projectedDaysOpen,NightSkiing_ac,Clusters
0,2090,294,1796,0,0.0,0,0,0,1,0,...,1.0,30.0,30.000000,150.000000,36.0,69.0,30.000000,152.000000,30.0,9
1,11100,1800,9200,0,0.0,0,1,2,3,1,...,1.2,800.0,80.000000,115.000000,49.0,250.0,74.000000,104.000000,80.0,0
2,7800,600,7200,0,0.0,0,0,0,1,3,...,0.4,88.0,174.873239,110.000000,84.0,300.0,47.000000,107.000000,0.0,2
3,8012,750,7031,0,0.0,0,0,0,1,5,...,1.5,505.0,60.000000,163.000000,82.0,400.0,75.000000,170.000000,0.0,2
4,10090,2590,7545,0,0.0,0,2,0,0,4,...,2.0,1500.0,174.873239,115.103943,58.0,250.0,57.916957,128.000000,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,8000,640,7400,0,0.0,0,0,0,0,1,...,0.6,92.0,32.000000,121.000000,61.0,80.0,48.000000,95.000000,0.0,2
163,7428,810,6619,0,0.0,0,0,0,1,1,...,1.0,184.0,18.000000,61.000000,81.0,310.0,42.000000,77.000000,0.0,2
164,7808,1571,6237,0,0.0,0,0,1,1,1,...,1.0,400.0,250.000000,121.000000,80.0,300.0,59.000000,123.000000,110.0,8
165,9663,990,8798,0,0.0,0,0,0,1,3,...,0.7,75.0,30.000000,131.000000,59.0,250.0,49.000000,120.053004,0.0,4
166,9500,1100,8400,0,0.0,0,0,0,2,0,...,0.4,370.0,174.873239,115.103943,81.0,150.0,57.916957,120.053004,0.0,4

In [46]:
y2 = df1.loc[:,'AdultWeekend']

In [47]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X2)

In [49]:
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y2 = y2.ravel()
X_train, X_test, y_train, y_test = train_test_split(X2, y2,
                                                    test_size=0.25)

In [50]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(random_state=0, n_estimators=500,max_features= 10, min_samples_leaf= 3, min_samples_split= 2)
regressor.fit(X_train, y_train)
regressor.score(X_test, y_test)

0.7306898540950175

In [51]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
param_grid = {"n_estimators": [200, 500],
 "max_depth": [3, None],
 "max_features": [1, 3, 5, 10],
 "min_samples_split": [2, 5, 10],
 "min_samples_leaf": [1, 3, 10],
 "bootstrap": [True, False]}
model = RandomForestRegressor(random_state=0)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1)
grid.fit(X_train, y_train)
print(grid.best_score_)
print(grid.best_params_)

0.6323884029377138
{'bootstrap': True, 'max_depth': None, 'max_features': 10, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}

In [52]:
# make class predictions for the testing set
y_train1_pred = regressor.predict(X_train)
y_test1_pred = regressor.predict(X_test)

In [54]:
explained_variance_score(y_test, y_test1_pred)

0.7311863174368383

In [55]:
mean_absolute_error(y_test, y_test1_pred)

5.526105375718924

In [53]:
from sklearn.metrics import mean_squared_error
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train1_pred),mean_squared_error(y_test, y_test1_pred)))

MSE train: 23.094, test: 54.664

In [54]:
from sklearn.metrics import r2_score
print('R^2 train: %.3f, test: %.3f' %(r2_score(y_train, y_train1_pred),r2_score(y_test, y_test1_pred)))

R^2 train: 0.894, test: 0.788

**<font color='teal'> When reviewing your new model coefficients, note that `summit_elev` is now in the number two spot. From a managerial perspective, this is also difficult to change and highly correlated with `base_elev` and `vertical_drop`.  This time rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [56]:
X3 = df1.drop(['Name','Region','AdultWeekend','state','summit_elev','base_elev'], axis =1)
X3

,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,total_chairs,Runs,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,projectedDaysOpen,NightSkiing_ac,Clusters
0,294,0,0.0,0,0,0,1,0,3,13.0,1.0,30.0,30.000000,150.000000,36.0,69.0,30.000000,152.000000,30.0,9
1,1800,0,0.0,0,1,2,3,1,7,65.0,1.2,800.0,80.000000,115.000000,49.0,250.0,74.000000,104.000000,80.0,0
2,600,0,0.0,0,0,0,1,3,5,10.0,0.4,88.0,174.873239,110.000000,84.0,300.0,47.000000,107.000000,0.0,2
3,750,0,0.0,0,0,0,1,5,8,52.0,1.5,505.0,60.000000,163.000000,82.0,400.0,75.000000,170.000000,0.0,2
4,2590,0,0.0,0,2,0,0,4,7,41.0,2.0,1500.0,174.873239,115.103943,58.0,250.0,57.916957,128.000000,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,640,0,0.0,0,0,0,0,1,2,28.0,0.6,92.0,32.000000,121.000000,61.0,80.0,48.000000,95.000000,0.0,2
163,810,0,0.0,0,0,0,1,1,3,48.0,1.0,184.0,18.000000,61.000000,81.0,310.0,42.000000,77.000000,0.0,2
164,1571,0,0.0,0,0,1,1,1,3,32.0,1.0,400.0,250.000000,121.000000,80.0,300.0,59.000000,123.000000,110.0,8
165,990,0,0.0,0,0,0,1,3,5,33.0,0.7,75.0,30.000000,131.000000,59.0,250.0,49.000000,120.053004,0.0,4
166,1100,0,0.0,0,0,0,2,0,2,25.0,0.4,370.0,174.873239,115.103943,81.0,150.0,57.916957,120.053004,0.0,4

In [57]:
y3 = df1.loc[:,'AdultWeekend']

In [58]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(X3)

In [59]:
from sklearn.model_selection import train_test_split
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y3 = y3.ravel()
X_train, X_test, y_train, y_test = train_test_split(X3, y3,
                                                    test_size=0.25)

In [60]:
from sklearn.ensemble import RandomForestRegressor
lm1 = linear_model.LinearRegression()
model = lm1.fit(X_train,y_train)

In [62]:
# make class predictions for the testing set
y_train2_pred = model.predict(X_train)
y_test2_pred = model.predict(X_test)

In [63]:
explained_variance_score(y_test, y_test2_pred)

0.6126533946396164

In [64]:
mean_absolute_error(y_test, y_test2_pred)

7.445446292031095

In [75]:
from sklearn.metrics import mean_squared_error
print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train2_pred),mean_squared_error(y_test, y_test2_pred)))

MSE train: 15.078, test: 88.954

In [76]:
from sklearn.metrics import r2_score
print('R^2 train: %.3f, test: %.3f' %(r2_score(y_train, y_train2_pred),r2_score(y_test, y_test2_pred)))

R^2 train: 0.930, test: 0.675

In [77]:
print('MAE train: %.3f, test: %.3f' % (mean_absolute_error(y_train, y_train2_pred),mean_squared_error(y_test, y_test2_pred)))

MAE train: 2.933, test: 88.954

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell. You will explain your selection during the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0.770115229996501|6.288943002548641 |-|
| Model 2. | 0.7311863174368383|5.526105375718924 |'state'|
| Model 3. | 0.6126533946396164 |7.445446292031095 |'state','summit_elev','base_elev'|

Model Selection: